---
layout: page
title : 我做的事情
header : 所有项目
group: navigation
---


{% assign projects = "
Nodejs$
2017-12-18#Node.js 内存模型#https://www.myfjdthink.com/blogs/archived/node/2017-12-18-node-memory-model.html;
2017-12-18#Node.js 异步编程#https://www.myfjdthink.com/blogs/archived/node/2017-12-18-node-sync.html;
2018-01-16#Node.js 并发模型#https://www.myfjdthink.com/blogs/archived/node/2018-01-16-node-concurrency.html;
2018-11-07#AI 考拉 2018 开源汇总（Node 基础架构）#https://www.myfjdthink.com/blogs/archived/architect/2018-11-07-AI-Koala-2018-open-source.html;
2019-10-31#akajs: Node 后端脚手架，Typescript、Koa、注解式路由、CRUD、Mongoose#https://kaolalicai.github.io/akajs_doc;
2020-04-10#Kalengo Nest Starter: Nest 脚手架，基于 Nest，结合 Kalengo 业务做封装 #https://kaolalicai.github.io/nest_doc;==
Java$
2019-10-04#Spring Boot + Kotlin 实现 JPA CRUD 和 Swagger#https://github.com/myfjdthink/spring-boot-demo;
2019-10-04#Spring Cloud Alibaba 全项目示例（未完成）##;
2019-11-15#Spring Cloud 与 Service Mesh，如何选择？#https://www.myfjdthink.com/blogs/archived/architect/2019-11-15-spring-cloud-and-service-mesh.html;==
架构$
2019/04/26#分布式事务的-n-种实现#https://www.myfjdthink.com/blogs/archived/architect/2019-04-26-n-ways-to-implement-distributed-transaction.html;
2019/08/28#云原生与Service Mesh#https://www.myfjdthink.com/blogs/archived/architect/2019-08-28-cloud-native.html;
2019/10/11#轻量型 Web 架构模式#https://www.myfjdthink.com/blogs/archived/architect/2019-10-11-lightweight-web-server-architecture.html;
2019/10/11#使用 Helm 部署微服务#https://www.myfjdthink.com/blogs/archived/architect/2019-11-01-user-helm-kubernetes-deploy-micro-service.html;==
WordPress博客$
2016-01-01#我的技术博客，使用 WordPress 搭建#http://www.myfjdthink.com;==
小游戏$
2016-01-01#贪吃蛇#/snake/snake.html;
2016-01-01#贪吃蛇+自动寻路#/snake/snakeAuto.html;
2016-01-01#数独#/sudoku/sudoku.html;
2016-01-01#数独 with easel 引擎#/sudoku/sudoku_easel.html;=="| split: "==" %}
{% for pro in projects  %}

{% assign cat_articles = pro |split: "$" %}
{% assign cat = cat_articles[0] %}
<div class="page card">
  <div class="hat_title">
    <h3>{{cat}}</h3>
  </div>
  
  
  {% assign articles = cat_articles[1]|split: ";"  %}
  
  {% for article in articles %}
  {% assign art_infos = article |split: "#" %}
  {% assign date = art_infos[0] %}
  {% assign title = art_infos[1] %}
  {% assign url = art_infos[2] %}
  <div class="post_list">
    <ul>
      <li>
      <span>
        {{date}}
      </span>
        »
        <a target="_blank" rel="noopener noreferrer" href="{{url}}">{{title}}</a>
      </li>
    </ul>
  </div>
  {% endfor %}



</div>
{% endfor %}


